/* START Reset Stylesheet */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* END RESET STYLESHEET */
/* Mobile Version */

* {
    text-decoration: none;
}

main {
    padding-top: 100px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100px;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding-top: 0;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 16px;
}

header nav ul li a {
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
}

header .header-download {
    display: none;
}

/*Desktop version media query for header */

@media only screen and (min-width: 1000px) {

    header .header-logo {
        margin: 31px 0;
        text-align: left;
        line-height: 38px;
        padding: 0px 20px 0px 40px;
        border-right: 3px solid #111;
        float: left;
    }

    header nav ul {
        margin: 20px 0px 0px 2px;
        float: left;
    }
    
    header nav ul li a {
        line-height: 60px;
    }
    
    header .header-download {
        display: block;
        font-family: 'Catamaran', sans-serif;
        font-size: 16px;
        color: #111;
        text-transform: uppercase;
        line-height: 38px;
        border: 1px solid #111;
        float: right;
        margin-right: 40px;
        margin-top: 30px;
        padding: 0px 20px;
    }

    header .header-download:hover {
        background-color: #C6CAD6;
    }
}

.index-banner {
    width: 100%;
    /* 100vh is equal to the decice screen height*/
    height: calc(100vh - 100px);
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*Center display/table/table-cell/vertical-align-middle*/
    display: table;
}

.vertical-center {
    /*Center display/table/table-cell/vertical-align-middle*/
    display: table-cell;
    vertical-align: middle;
}

.index-banner h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 60px;
    font-weight: 90;
    color: #f3f3f3;
    line-height: 70px;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.index-banner h1 {
    font-family: Cormorant Garamond;
    font-size: 32px;
    font-style: italic;
    font-weight: 90;
    line-height: 40px;
    color: #f3f3f3;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

/* Desktop version media query for main section */

@media only screen and (min-width: 1000px) {

    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }

    .index-banner {
        height: 500px;
    }

    .index-banner h1 {
        display: block;
        width: 560px;
        margin: 0 auto;
    }
}


/* Last Changes */

.profile-picture {
    display: block;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    transition: all 0.3s ease;
    margin: 0 auto
}

.profile-picture:hover {
    border-color: #C6CAD6;
}

.index-banner .vertical-center .typing-text span {
    color: #C6CAD6; 
}

.index-banner .vertical-center .into-text {
    font-family: 'Catamaran', sans-serif;
    font-size: 45px;
    font-weight: 40;
    color: #f3f3f3;
    line-height: 70px;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.logo-img {
    display: block;
    height: 60px;
    width: 60x;
    object-fit: cover;
    margin: 0 auto;
}

header nav ul li a:hover {
    color: #C6CAD6;
}